<!DOCTYPE html>
<html>
<head>
  <title>Edit Stations</title>
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
</head>
<body>
  <button>Edit</button>

  <script src="/js/stationUpdate.js"></script>
</body>
</html>
