#map {
  height: 65vh;
}

.looking {
  margin-top: 10px;
}

.header-block {
  background-color: rgba(50, 255, 50, 1);
  width: 100vw;
}

.header-item {
  display: inline-block;
  margin: 0;
  padding: 5px;
  height: 100%;
}

.right {
  float: right;
}

.partial {
  text-align: center;
}

.error-message {
  text-align: center;
}
