.map-container {
  height: 65vh;
  background-color: rgba(50, 50, 255, 0.5);
  padding: 5px;
}

.map {
  height: 100%;
  display: inline-block;
  width: 70%
}

.info-bar {
  background-color: white;
  display: inline-block;
  width: 29%;
  vertical-align: top;
  height: 100%;
}

.header-block {
  background-color: rgba(50, 255, 50, 1);
  width: 100vw;
}

.header-item {
  display: inline-block;
  margin: 0;
  padding: 5px;
  height: 100%;
}

.right {
  float: right;
}

.partial {
  text-align: center;
}

.error-message {
  text-align: center;
}
