<!DOCTYPE html>
<html ng-app="Map">
<head>
  <title>Map</title>
  <style>
    #map {
      height: 200px;
    }
  </style>
</head>
<body ng-controller="MapController as ctrl">
  <a href="/">Home</a>
  <div>
    <div ng-if="ctrl.loggedIn">
      <h3>Hello {{ctrl.user.username}}</h3>
    </div>
    <div ng-if="ctrl.positionUnknown">
      <p>We could not get your location. Please tell us below.</p>
    </div>
    <form ng-submit="ctrl.changeLocation()">
      <label>Where would you like to look?</label>
      <input type="text" placeholder="123 Fake St, Santa Monica, CA 90401" ng-model="ctrl.newLocation">
    </form>
    <button ng-click="ctrl.getLocation()">Use current location</button>
    <br>
    <div ng-if="ctrl.location">Looking at: {{ctrl.location}}</div>
    <br>
    <br>
    <button ng-click="ctrl.searchGarages()">Parking Garages</button>
    <button ng-click="ctrl.searchMetro()">Metro</button>
    <br>
    <div id="map"></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/mapController.js"></script>

  <script>
    function initMap(){
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {lat: 34.0130382, lng: -118.4953826}
      });
    }
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap">
    </script>
</body>
</html>
