<!DOCTYPE html>
<html ng-app="Map">
<head>
  <title>Map</title>
</head>
<body>
  <a href="/">Home</a>
  <div ng-controller="MapController as ctrl">
    <div ng-if="ctrl.loggedIn">
      <h3>Hello {{ctrl.user.username}}</h3>
    </div>
    <div ng-if="ctrl.positionUnknown">
      <p>We could not get your location. Please tell us below.</p>
    </div>
    <form ng-submit="ctrl.changeLocation()">
      <label>Where would you like to look?</label>
      <input type="text" placeholder="123 Fake St, Santa Monica, CA 90401" ng-model="ctrl.newLocation">
    </form>
    <button ng-click="ctrl.getLocation()">Use current location</button>
    <br>
    <div ng-if="ctrl.location">Looking at: {{ctrl.location}}</div>
    <br>
    <br>
    <button ng-click="ctrl.searchGarages()">Parking Garages</button>
    <button ng-click="ctrl.searchMetro()">Metro</button>
    <ul ng-if="ctrl.garages[0]">Garages:
      <li ng-repeat="garage in ctrl.garages">{{garage.name}}: {{garage.street_address}}</li>
    </ul>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/mapController.js"></script>
</body>
</html>
