<!DOCTYPE html>
<html ng-app="Map">
<head>
  <title>Map</title>
  <style>
    #map {
      height: 200px;
    }
  </style>
</head>
<body ng-controller="MapController as mapCtrl">
  <a href="/">Home</a>
  <div>
    <div ng-if="mapCtrl.loggedIn">
      <h3>Hello {{mapCtrl.user.username}}</h3>
    </div>
    <div ng-if="mapCtrl.positionUnknown">
      <p>We could not get your location. Please tell us below.</p>
    </div>
    <form ng-submit="mapCtrl.changeLocation()">
      <label>Where would you like to look?</label>
      <input type="text" placeholder="123 Fake St, Santa Monica, CA 90401" ng-model="mapCtrl.newLocation">
    </form>
    <button ng-click="mapCtrl.getLocation()">Use current location</button>
    <br>
    <div>Looking at: {{mapCtrl.location}}</div>
    <br>
    <br>
    <button ng-click="mapCtrl.searchGarages()">Parking Garages</button>
    <button ng-click="mapCtrl.searchMetro()">Metro</button>
    <br>
    <div id="map"></div>
  </div>

  <!-- didn't work -->
  <!-- <script ng-src="{{mapCtrl.mapsLink}}"></script> -->

  <!-- works with api key in it, but shouldn't put api key in -->
  <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/gmapFactory.js"></script>
  <script src="/js/mapController.js"></script>

</body>
</html>
